<% provide(:title, "My Profile") %>
<h1>Update Profile</h1>
<div class="form">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

			<div class="section">
				<%= f.label :alias, 'Alias', class: "active textlabel" %>
				<div class="input-field">
					<%= f.text_field :alias, length: 25 %>
				</div>
			</div>

			<div class="section">
				<%= f.label :blurb, 'About Me', class: "active textlabel" %> 
				<div class="input-field">
					<%= f.text_area :blurb, class: 'materialize-textarea', length: 1000 %>
				</div>
		</div>

		<%= f.submit "Save changes", class: "btn" %>
	<% end %>
</div>