<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up!</title>
	</head>
	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<p><a href="/about">About</a><p>
		<p><a href="/users">Users</a><p>
		<p><a href="/calendar">Calendar</a><p>

		<%= yield %>

		<% if user_signed_in? %>
			<p>Welcome <%= current_user.email %></p>
			<p>
				<%= current_user.tasks.count %> Tasks
			</p>
			<section class="task_list">
				<% @task_items.each do |task| %>
					<tr>
						<td><%= task.note %></td>
						<td><%= task.completed_at %></td>
						<td><a><%= link_to "view", 'tasks/'+task.created_at.strftime('%Y/%m/%d') %></a></td>
					</tr>
				<% end %>
			</section>
		<% else %>
			<p>You are not signed in.</p>
			<%= link_to 'Login', new_user_session_path %>
		<% end %>
	</body>
</html>